$color-background: #191a1c;
$color-background-header: #131217;

$color-text: #ebebeb;
$color-text-hex-30: #555555;
$color-text-hex-40: #6b6b6b;
$color-text-hex-50: #808080;
$color-text-hex-60: #999999;
$color-text-hex-70: #b3b3b3;
$color-text-hex-80: #c1c1c2;

$color-primary: #d77617;
$color-secondary: #f5c983;

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-text-30 {
  color: $color-text-hex-30;
}

.color-text-40 {
  color: $color-text-hex-40;
}

.color-text-50 {
  color: $color-text-hex-50;
}

.color-text-60 {
  color: $color-text-hex-60;
}

.color-text-70 {
  color: $color-text-hex-70;
}
